<html lang="en"></html>
<%- include('./partials/head.ejs') %>
<body>
  <%- include('./partials/nav.ejs') %>


  <div class="about content">
    <h2>about us</h2>
    <p>loream ipsu, sit amet consectetur adipisicing elit</p>
    <p>loream ipsu, sit amet consectetur adipisicing elit</p>
    <p>loream ipsu, sit amet consectetur adipisicing elit</p>

  </div>
  <%- include('./partials/footer.ejs') %>
</body>
</html>